<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchUsers</title>
</head>
<body>
    {% if session['logged_in'] and session['admin'] %}
        <form action = "{{ url_for('admin.searchUser') }}" method="POST">
            <h3>Search for User</h3>
            User Last Name<br>
            <input type="text" name="UserLName" ><br>
            <input type="submit" name="Search" ><br>
        </form>

         {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    {% endif %}
</body>
</html>