<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-g">
<title>First Form</title>
<style>
    .box {
        border-radius: 5px;
        background-color: #007bff;
        padding: 10px;
        display: inline-grid;
        margin: 10px;
        color: whitesmoke;
        text-decoration: none;
  <style>
    }
</style>
</head>
<body>
<form>
<p>This is a simple HTML page that has a form in it.<p>

Hobby: <input type="text" name="hobby" value=" ">
<input class="box" type="submit" name="confirmButton" value= "Confirm">
</form>
</body>
</html>
