<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css')}}">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>*User* Team Sign Up Screen</title>
    <link rel="stylesheet" href="signup.css">
      <link rel="stylesheet" href="admincreateteam.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Additional styling for better visibility of the text when typing */
        input[type="text"] {
            color: black;
        }
         a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .foot p {
            color: gainsboro;
            margin-top: 370px;
            padding-left: 2.3rem;
        }
        .banner {
            position: fixed;
            bottom: 10px;
            left: 35px; /* Adjust left positioning */
            color: gainsboro;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
            display: block;
        }
    </style>
</head>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

</head>
<body>
<input type="checkbox" id="nav-toggle">
    <div class="sidebar">
       <div class="sidebar-brand">
         <h2><img src="../static/css/logo.png" width="50" height="50"><span> Rotary at Lynn Haven</span></h2>
       </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/userdash"><span class="las la-home"></span>
                    <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/u_allteamlist"><span class="las la-users"></span>
                    <span>Teams</span></a>
                </li>
                <li>
                    <a href="/usermakesteam" class="active"><span class="las la-plus-circle"></span>
                    <span>Create Team</span></a>
                </li>
                 <li>
                    <a href="/index"><span class="las la-store-alt"></span>
                    <span>LynnHaven Links</span></a>
                </li>
                <li>
                    <a href="/view"><span class="las la-user-circle"></span>
                    <span>Account</span></a>
                </li>
                <li>
                <a href="/logout"><span class="las la-sign-out-alt"></span>
                     <span>Log Out</span></a>
                    </li>
            </ul>
        </div>

        <div class="banner" id="banner"> © Made by Putter Programmers</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navToggle = document.getElementById('nav-toggle');
            var banner = document.getElementById('banner');

            navToggle.addEventListener('change', function () {
                if (navToggle.checked) {
                    banner.style.display = 'none';
                } else {
                    banner.style.display = 'block';
                }
            });
        });
    </script>
    </div>
<div class="main-content">
     <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>

                Create Team <span class="las la-golf-ball"></span>
            </h2>

            <div class="user-wrapper">
                  <a href="{{ url_for('both.view') }}">
                <img src="../{{ photo }}" height="50" width="50">
                 </a>
                <div>
                    <a href="{{ url_for('both.view') }}"><h4> {{UserName}} </h4></a>
                </div>
            </div>
        </header>


    <form action="{{ url_for('user.user_teamSignup') }}"  method="POST">
        <div class="wrapper">
            <div class="signup-box">
                <label><b>Team Name:</b><label>
                    <div class="input-box">
                <input type="text" placeholder="Team Name" name="TeamName" id="teamNameInput" autocomplete="off" required>
            </div>
            </div>
            <div class="signup-box">
                <label><b>Sponsor Name  (optional):</b><label>
                    <div class="input-box">
                <input type="text" placeholder="Sponsor Name" name="SponsorName" id="sponsorNameInput" autocomplete="off">
            </div>
             </div>
            <div class="signup-box">
                <div class="gender-details-box">
          <span class="gender-title">Needed Cart(s) Amount</span>
          <div class="gender-category">
            <input type="radio" name="NeedCart" id="0" value="0">
            <label for="0"> 0 </label>
            <input type="radio" name="NeedCart" id="1" value="1">
            <label for="1"> 1 </label>
            <input type="radio" name="NeedCart" id="2" value="2">
            <label for="2"> 2 </label>
          </div>
        </div>
             </div>
             {% for row in rows %}
            <input type="text" name="MemberName1" value="{{ row['UserId'] }}, {{ row['UserHandicap'] }}, {{ row['UserFName'] }}, {{ row['UserLName'] }}, {{ row['UserPhNum'] }}, {{ row['UserEmail']}}, ../{{ photo }}" id="memberName1Input" style="display:none">
                {% endfor %}
            <button type="submit" class="btn" data-nlok-ref-guid="d0b67cf5-d0c9-4079-9924-376b39eaa947">Register Team</button>
         </div>
     </form>
         </div></div>


</body>
</html>

